<!--<div>
  <video #video></video>
  <p *ngIf="result">QR Code Result: {{ result }}</p>
</div>-->



<div class="machine">
  <div class="screen">
    <div class="container mt-5">
      <!--<h2 class="text-center mb-4">Captura y Subida de Imágenes</h2>-->
      <div class="row justify-content-center mb-4">
        <div class="col-md-6 text-center">
          <div class="row">
            <div class="col-md-6">
              <video #video class="rounded"></video>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
