<div class="container">
  <div class="garage">
    <div class="slot" *ngFor="let spot of parkingSpots; let i = index" [id]="'slot' + (i + 1)">
      <div class="slot-info">
        <span class="slot-id">P{{ spot.id }}</span>
        <span class="license-plate">{{ getLicensePlate(spot.id) }}</span>
      </div>
      <div *ngIf="spot.isOccupied" class="car"></div>
    </div>
  </div>




  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Parking Spot</th>
          <th>License Plate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spot of getDisplayedSpots(); let i = index">
          <td>P{{ spot.id }}</td>
          <td>{{ spot.isOccupied ? getLicensePlate(spot.id) : 'Empty' }}</td>
        </tr>
      </tbody>
    </table>
    <nav *ngIf="showPagination" aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" *ngFor="let page of getPaginationArray()" [class.active]="currentPage === page">
          <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
