<div class="container">
  <div class="garage">
    <div class="slot" *ngFor="let spot of parkingSpots; let i = index" [id]="'slot' + (i + 1)">
      <div *ngIf="spot.isOccupied" class="car"></div>
    </div>
  </div>



  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Parking Spot</th>
          <th>License Plate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spot of parkingSpots; let i = index">
          <td>{{ spot.id }}</td>
          <td>{{ spot.isOccupied ? getLicensePlate(spot.id) : 'Empty' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
