<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><i class="bi bi-p-square"></i>ParkingSon & Associated</a>

      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/entry"]'><i class="bi bi-arrow-bar-down"></i>Entrada</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/payment"]'><i class="bi bi-credit-card"></i>Pago</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/exit"]'><i class="bi bi-arrow-bar-up"></i>Salida</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/status"]'><i class="bi bi-table"></i>Estado</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
