<!--<app-garage-management></app-garage-management>-->
<!--<app-image-upload></app-image-upload>-->
<!--<app-qrcodegenerator></app-qrcodegenerator>-->
<!--<app-licensedetector></app-licensedetector>-->




<!------------------------------------------------------------------------------->

<!--<app-license-upload>  </app-license-upload>-->


<!------------------------------------------------------------------------------->


<!--<app-qr-scanner></app-qr-scanner>
<app-calculateparkingfee></app-calculateparkingfee>-->


<!------------------------------------------------------------------------------->


<!--<app-exit-parking></app-exit-parking>-->


<!------------------------------------------------------------------------------->


<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
