<div class="machine">
  <div class="screen">
    <div class="container mt-5">
      <div class="row justify-content-center mb-4">
        <div class="col-md-6 text-center">
          <div class="row">
            <div class="col-md-6">
              <video #videoElement class="rounded"></video>
            </div>
          </div>
          <div class="ticket-output">
            <div class="container mt-5 text-center">
              <div class="row justify-content-center">
                <div class="col-auto">
                  <div class="screen-container">
                    <div class="card text-white mb-3">
                      <div class="card-body message-info">
                        <p class="card-text loading-message pastel-primary fixed-size-card" *ngIf="loadingTicket">Cargando ticket...</p>
                        <p class="card-text loading-message pastel-danger fixed-size-card" *ngIf="!parkingSpots">Sin plazas</p>
                        <p class="card-text loading-message pastel-danger fixed-size-card" *ngIf="!nolicense">Error en matrícula</p>
                        <img class="logo" src="assets/images/parking-logo.png" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary mb-3 p-3" (click)="onButtonClick()"></button>
            <div class="container mt-5 text-center">
              <div class="row justify-content-center">
                <div class="col-auto">
                  <div class="nozzle-container">
                    <div class="card text-white mb-3">
                      <div class="ticket-nozzle">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="canvas-container d-none">
              <canvas #canvasElement style="display: none;"></canvas>
            </div>
            <div class="container mt-5" *ngIf="ticketVisible && ticket">
              <div class="ticket" #ticketDiv>
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    <div *ngIf="imageUrl" class="qrcode">
                      <img [src]="imageUrl" alt="Código QR" class="img-fluid mb-3">
                    </div>
                  </div>
                </div>
                <div class="ticket-body">
                  <div class="row">
                    <div class="col-12 text-center license">
                      <p>{{ licenseDecode }}</p>
                    </div>
                    <div class="col-12 text-center spot">
                      <p>P{{ vehicleSpot }}</p>
                    </div>
                    <div class="col-12 text-center">
                      <p class="date">{{entryTime}}</p>
                    </div>
                  </div>
                </div>
                <div class="tariff">
                  <p class="text-right ">T. Estandar</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
