<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Parking Fee Details</h2>
    </div>
    <div class="card-body">
      <form (ngSubmit)="fetchData()" class="mb-4">
        <div class="form-group">
          <label for="licensePlate">License Plate:</label>
          <input type="text" id="licensePlate" name="licensePlate" class="form-control" [(ngModel)]="licensePlate" required>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Calculate Fee</button>
      </form>
      <div *ngIf="data">
        <p><strong>Entry Time:</strong> {{ formatTime(data.entryTime) }}</p>
        <p><strong>Current Time:</strong> {{ formatTime(data.currentTime) }}</p>
        <p><strong>Time Difference:</strong> {{ data.timeDifference }}</p>
        <p><strong>Parking Fee:</strong> {{ data.parkingFee | number:'1.2-2' }}€</p>
      </div>
    </div>
  </div>
</div>
