.ticket {
  border: 1px solid #ccc; /* Agregamos un borde delgado */
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.ticket-header h1 {
  font-size: 2rem;
  color: #333;
}

.ticket-header p {
  color: #666;
}

.ticket-body {
  padding-top: 20px;
}

  .ticket-body p {
    color: #333;
  }

.ticket-footer {
  border-top: 2px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
}

  .ticket-footer p {
    color: #666;
  }
