.ticket {
  border: 1px solid; /* Agregamos un borde delgado */
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 205px;
  margin: 0 auto;
  position: relative;
  height: auto;
  margin-bottom: 100px;
}

.ticket-header h1 {
  font-size: 2rem;
  color: #333;
}

.ticket-header p {
  color: #666;
}

.ticket-body {
  padding-top: 20px;
}

  .ticket-body p {
    color: #333;
  }

.tariff {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 1px 8px;
  border-bottom-right-radius: 7px;
}

  .tariff p {
    font-size: 15px;
    position: relative;
    top: 7px;
  }

.ticket .date {
  position: absolute;
  left: 00px;
  top: 95%;
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
}

.ticket::after {
  content: '';
  position: absolute;
  top: 0;
  left: 18%;
  width: 18px; /* Grosor de la línea */
  height: 100%; /* Altura de la línea */
  background-color: #333; /* Color de la línea */
  transform: translateX(-50%); /* Centrar la línea horizontalmente */
}

.license p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: -40px;
  margin-left: 34px;
}


.spot p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 33px;
  position: relative;
  top: -13px;
}


.qrcode {
  height: auto;
  width: 200%;
  margin-bottom: 10px;
  margin-left: -23%;
}

.bawphoto {
  height: auto;
  width: 200%;
  margin-bottom: 10px;
  margin-left: -23%;
}


.pastel-primary {
  background-color: #cce5ff !important; /* Color pastel azul */
  color: #004085 !important; /* Texto oscuro para contraste */
}

.pastel-danger {
  background-color: #f8d7da !important; /* Color pastel rojo */
  color: #721c24 !important; /* Texto oscuro para contraste */
}

.fixed-size-card {
  width: 400px; /* Ancho fijo */
  height: 80px; /* Alto fijo */
}



video {
  width: 555px;
  height: auto;
  top: 28px;
  right: 150px;
  position: relative;
}

img {
  width: 250px;
  height: auto;
}


.machine {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  background-color: #f0f0f0;
  position: relative;
}

.screen {
  background-color: darkolivegreen;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}


.ticket-output {
  width: 600px;
  height: 700px;
  border: 2px solid #000;
  border-radius: 5px;
  position: absolute;
  background-color: #fff;
  right: -24px;
}
