<div class="container mt-5">
  <h2 class="text-center mb-4">Captura y Subida de Imágenes</h2>

  <div class="row justify-content-center mb-4">
    <div class="col-md-6 text-center">
      <div class="video-container border p-3 mb-3">
        <video #videoElement width="100%" height="auto" class="rounded"></video>
      </div>
      <button class="btn btn-primary mb-3 p-3" (click)="capture()">Tomar Foto</button>
      <div class="canvas-container d-none">
        <canvas #canvasElement style="display: none;"></canvas>
      </div>
      <button class="btn btn-success mb-3 p-3" (click)="uploadCapturedPhoto()" *ngIf="capturedPhoto">Subir Foto Capturada</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div *ngIf="jsonResponse" class="alert alert-info">
        <h5 class="alert-heading">Respuesta JSON Completa:</h5>
        <pre>{{ jsonResponse | json }}</pre>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div *ngIf="plazasLibres !== null" [ngClass]="{'alert alert-success': plazasLibres, 'alert alert-danger': !plazasLibres}">
        <h5 class="alert-heading">Plazas Libres:</h5>
        <p *ngIf="plazasLibres">¡Barrera abierta!</p>
        <p *ngIf="!plazasLibres">No hay plazas libres en este momento.</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div *ngIf="licensePlate" class="alert alert-warning">
        <h5 class="alert-heading">Matrícula Reconocida:</h5>
        <p>{{ licensePlate }}</p>
      </div>
    </div>
  </div>
</div>
