<div class="container mt-4">
  <div class="row">
    <div *ngFor="let spot of parkingSpots" class="col-6 col-sm-4 col-md-3 mb-4">
      <div class="card" [ngClass]="{'bg-success': !spot.occupied, 'bg-danger': spot.occupied}" (click)="spot.occupied ? freeSpot(spot) : occupySpot(spot, getDummyCar(spot.id))">
        <div class="card-body text-center text-white">
          <h5 class="card-title">Plaza {{ spot.id + 1 }}</h5>
          <p class="card-text">{{ spot.occupied ? 'Ocupada' : 'Libre' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h3>Coches en las Plazas de Garaje</h3>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Matricula</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spot of parkingSpots" [hidden]="!spot.occupied">
          <td>{{ spot.id + 1 }}</td>
          <td>{{ spot.car?.licensePlate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
